.contener{
    background-color: hotpink;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly ;
    flex-wrap: wrap;
    height: 100px;
    align-items: start;
}
.c1{
    background-color: blue;
    width:50px;
    align-self: end;
    flex-grow: 1;

   

}
.c2{
    background-color: rgb(62, 195, 109);
    width:50px;
    align-self: center;
}
.c3{
    background-color: rgb(30, 128, 185);
    width:50px;
    align-self: flex-start;
}
.c4{
    background-color: rgb(170, 195, 44);
    width:50px;
    align-self: stretch;
}