* {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}
.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
  gap: 170px;
  background-color: #f5f7fa;
}

.logo-img {
  width: 154px;
}

.header-link {
  color: black;
  text-decoration: none;
}
.header-right {
  display: flex;
  gap: 14px;
  align-items: center;
}

.login-btn {
  color: black;
  text-decoration: none;
  color: #4caf4f;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4caf4f;
  border-radius: 6px;
}

.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 96px 144px;
  background-color: #f5f7fa;
}

.title {
  font-size: 54px;
  color: #4d4d4d;
}

.hero-p {
  color: #717171;
  font-size: 14px;
  line-height: 20px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.clients {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 144px;
  margin-top: 20px;
}
.clients-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.vecter-logo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.community {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}
.community-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.cards-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  border-radius: 8px;
  padding: 24px 32px;
  gap: 8px;
  box-shadow: 0px 2px 4px 0px #abbed133;
}
.header-2 {
  font-size: 36px;
  color: #4d4d4d;
  font-weight: 600;
}
.header-3 {
  font-size: 28px;
  color: #4d4d4d;
}
.unlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-parg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 661px;
  padding-top: 10px;
}
.clients-body {
  background-color: wh;
}
.achivment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  padding: 50px;
  gap: 150px;
}
.calander {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.customer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  background-color: #f5f7fa;
  padding: 20px;
}

.counts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 160px;
}
.counts-top {
  width: 540px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.counts-bottom {
  width: 540px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.vecter-logo-3 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.community-update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 100px;
  padding-top: 70px;
}
.community-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
  text-align: center;
  width: 500px;
}
.image-frame {
  display: flex;
  gap: 20px;
}

.photo-frame {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 235px;
  text-align: center;
  background-color: #f5f7fa;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  left: 20px;
  top: 160px;
  z-index: 1;
  line-height: 25px;
}

.footer-frame {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 32px 0px 32px 0px;
  background-color: #f5f7fa;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: #263238;
  color: #ffffff;
  padding: 64px 165px 64px 165px;
  gap: 200px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 35px;
}
.footer-right {
  display: flex;
  gap: 30px;
  line-height: 30px;
  gap: px;
}
ul {
  list-style-type: none;
  padding: 0;
}
.footer-right,
a {
  text-decoration: none;
  color: #f5f7fa;
}
.input-text {
  width: 250px;
  height: 35px;
  border-radius: 10px;
  background-color: #53595d;
  border: none;
  padding-left: 10px;
  background-image: url(./public/Vector\ send.png);
  background-repeat: no-repeat;
  background-position: 230px center;
}
::placeholder {
  color: #f5f7fa;
}

.footer-left p {
  color: #f5f7fa;
  font-size: 13px;
  font-weight: 100;
}
.footer-right ul {
  color: #f5f7fa;
  font-size: 13px;
}
.footer-right h4 {
  font-size: 20px;
}
.footer-right,
h4 {
  margin-bottom: 20px;
}
